# Python bytecode
__pycache__/
*.pyc
*.pyo

# IDE files
.idea/
.vscode/

# Database files
*.db

# System files
.DS_Store

# Other
.env

# For updates
/rewrite/frontend/mangadex_account.json
*.token
.token

# venv
/venv/