# Python bytecode
__pycache__/
*.pyc
*.pyo

# IDE files
.idea/
.vscode/

# Database files
*.db

# System files
.DS_Store

# Other
.env

# For updates
/rewrite/frontend/mangadex_account.json
*.token
.token

# Downloader process
curl-ca-bundle.crt
*.dll
*.exe
/rewrite/frontend/downloads/